/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.mat-sidenav-container {
  height: calc(100vh - 64px);
}

.mat-sidenav-content {
  padding: 15px;
}
